html {
	min-height: 100%;
	background-image: linear-gradient(#fe8019, #fabd2f);
}

body {
	font-family: sans-serif;
	font-size: 20px;
	padding: 30px;
}

.main, .main-blog {
	margin: auto;
	margin-top: 30px;
	width: fit-content;
	padding: 50px;
	background-color: #282828;
	color: #fbf1c7;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.19);
}

.center {
	display: block;
  margin-left: auto;
  margin-right: auto;
}

.main-blog {
	width: auto;
	margin-top: 0px;
}

a {
	color: #458588;
}

a:visited {
  color: #b16286;
}
